# Haier configuration options

config MACH_HAIER
	bool "Haier device"
	depends on ARCH_MSM
	help
	  Support for Haier products

config MACH_HAIER_MSM8909
	bool "Haier MSM8909"
	depends on ARCH_MSM8909
	select MACH_HAIER
	help
	  Support for MSM8909 Haier variants

menu "Haier board selection"

config MACH_B26D2H
	bool "B26D2H board"
	select MACH_HAIER_MSM8909
	help
	  Support for Haier B26D2H variant

endmenu
